{% extends "base.html" %}
{% load static %}
{% block title %}
Update Job Post
{% endblock title %}

{% block body %}
<div class="container">
    <h2 style="text-align: center; color: royalblue;">Update Job Post</h2>
    <form action="update/{{post.id}}" method="POST" class="needs-validation" novalidate>
      {% csrf_token %}
        <div class="form-group">
            <label >Update Title</label>
            <input type="text" class="form-control" name="title" value={{post.title}} placeholder="Update Job Title" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="form-group">
            <label>Update Category</label>
            <input type="text" class="form-control" name="category" value={{post.category}} placeholder="Update Job Category" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="form-group">
            <label>Update Job Type</label>
            <input type="text" class="form-control" name="job_type" value={{post.job_type}} placeholder="Update Job Type" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="form-group">
            <label>Update Salary</label>
            <input type="number" class="form-control" name="salary" value={{post.salary}} placeholder="Update Job Salary" required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="form-group">
            <label>Update Description</label>
            <textarea rows="4" class="form-control" name="description" value={{post.description}} placeholder="Update Job Description" required></textarea>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="form-group">
            <label>Upload File</label><br>
            <input type="file"  name="file" value={{post.file}} required>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div>
            <button class="btn btn-primary">Update</button>
        </div>

    </form>
</div>
{% endblock body %}