<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/javascript/bootstrap.min.js"></script>
    <script src="/static/javascript/jquery.slim.min.js"></script>
    <script src="/static/javascript/popper.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand"">SunauloJob</a>
        
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/user/profile">Profile</a>
          </li>
        </ul>
      </nav>
</body>
</html>