<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/javascript/bootstrap.min.js"></script>
    <script src="/static/javascript/jquery.slim.min.js"></script>
    <script src="/static/javascript/popper.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Sign Up </h2>
        <form method="POST">
          {% csrf_token %}
            <div class="form-group">
                <label >User Name:</label>
                <input type="text" class="form-control" name="input_username" placeholder="Enter User Name" required>
            </div>
            <div class="form-group">
                <label >Email:</label>
                <input type="email" class="form-control" name="input_email" placeholder="Enter Email" required>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" name="input_password" placeholder="Enter Password" required>
            </div>
            <br>
                <button class="btn btn-primary">Register</button>
            </div>
        </form>
</body>
</html>